Source: ros-hydro-wge100-driver
Section: misc
Priority: extra
Maintainer: "William Woodall <wjwwood@gmail.com>"
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/wge100_driver
Standards-Version: 3.9.2

Package: ros-hydro-wge100-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-wge100-camera, ros-hydro-wge100-camera-firmware
Description: This stack contains the ROS driver and firmware for the WGE100 camera used on the PR2 robot.
